.home {
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left,
    .right {
        width: 50%;
    }

    .left {
        &__heading {
            max-width: 70%;
            margin-bottom: 1.5rem;
            h1 {
                font-size: 2rem;
            }
        }
    }

    .form {
        width: 60%;

        &__control {
            margin-bottom: 1rem;
            border: 1px solid #999;
            width: 100%;
            padding: 0.25rem 1rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0rem;

            input {
                border: none;
                width: 100%;
                outline: none;
                font-size: 1.05rem;
                padding: 0.4rem 0.8rem;
            }

            svg {
                font-size: 1.25rem;
                color: #a9afba;
            }
        }

        &__submit-btn {
            margin-top: 0.5rem;
            width: 100%;
            border-radius: 1rem;
            background-color: #e44e4f;
            border: none;
            padding: 1rem;
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1rem;
            transition: all 0.15s ease-in-out;

            &:hover {
                filter: brightness(1.05);
            }
        }

        &__sign-up {
            font-size: 0.9rem;
            margin-top: 0.55rem;
            text-align: center;

            a {
                color: #e44e4f;
                font-weight: bold;
            }
        }
    }
}
