.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7rem;
    position: relative;
    z-index: 9;

    a {
        transition: color 0.15s ease-in-out;
    }

    &__logo {
        color: #e44e4f;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;

        img {
            width: 3.7rem;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__link {
        span {
            font-weight: 500;
            font-size: 1.05rem;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            letter-spacing: 2px;

            &.active {
                color: #e44e4f;
            }
        }

        &:hover {
            color: #e44e4f;
        }
    }

    .profile-icon {
        font-size: 1.5rem;
    }

    .user {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        margin-left: 2rem;

        &__profile-icon {
            margin-right: 1rem;
            width: 1.6rem;
            height: 1.6rem;
            color: #e44e4f;
        }

        &__drowndown-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: none;
            outline: none;
            border: none;
            font-weight: bold;
            font-size: 1.05rem;

            &:hover svg {
                position: relative;
                transform: translateY(2px);
            }
        }

        &__dropdown-icon {
            pointer-events: none;
            color: #333;
            width: 1.35rem;
            height: 1.35rem;
            cursor: pointer;
            margin-left: 0.25rem;
            transition: all 0.15s ease-in-out;
        }
    }

    .logout-btn {
        cursor: pointer;
        background: none;
        outline: none;
        color: #fff;
        border: none;
        font-weight: bold;
        font-family: inherit;
    }

    .dropdown {
        position: absolute;
        top: 130%;
        right: 2px;
        background-color: #161b22;
        color: #c9d1d9;
        display: flex;
        flex-direction: column;
        width: 8rem;
        box-shadow: 0 5px 10px rgba($color: #010409, $alpha: 0.5);
        transition: all 0.2s ease-in-out;
        pointer-events: none;
        opacity: 0;

        &.show {
            opacity: 1;
            pointer-events: auto;
        }

        a {
            font-size: 0.85rem;
            padding: 0.75rem 1.5rem;
            width: 100%;
            transition: all 0.15s ease-in-out;

            &:hover {
                color: #fff;
                background-color: rgb(228, 78, 79);
            }

            &.logout {
                border-top: 1px solid #333;
            }
        }

        &::before {
            color: #000;
            position: absolute;
            display: inline-block;
            content: "";
            top: -16px;
            right: 0;
            left: auto;
            border: 8px solid transparent;
            border-bottom-color: var(--color-border-default);
        }
    }
}
