.phrase {
    position: relative;

    .link-btn {
        margin-top: 1.5rem;
    }

    &__heading {
        h2 {
            font-weight: 500;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            margin-bottom: 1rem;

            svg {
                font-size: 1.7rem;
            }
        }
    }

    &__value {
        margin-top: 0.5rem;
        position: relative;
        font-size: 1.3rem;
        font-size: 500;
        width: fit-content;
        padding: 2rem;
        color: #000;
        border-left: 5px solid rgb(239, 82, 83);
        background: rgb(255, 212, 212);

        .copy {
            position: absolute;
            top: -6%;
            right: -1%;
            background: none;
            border: none;
            font-size: 1.5rem;
            font-weight: lighter;
            color: #333;
            transition: all 0.15s ease-in-out;

            &:hover {
                transform: scale(1.05);
                color: #000;
            }
        }
    }
}
