.link-btn {
    background: #e44e4f;
    color: #fff;
    padding: 0.85rem 1.65rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;
    border: transparent;
    font-size: 1.05rem;

    svg {
        transition: all 0.2s ease-in-out;
    }

    &:hover svg {
        transform: translateX(3px);
    }

    &:hover {
        filter: brightness(1.05);
    }
}
