.resources {
    padding: 3rem 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .upper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .heading {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 2rem;
            color: #333;
            font-size: 1rem;
            align-items: center;

            svg {
                font-size: 1.5rem;
            }

            .wish {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
            }

            .date {
                display: flex;
                gap: 2rem;
            }

            p {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

    .actions {
        button {
            &:first-child {
                margin-right: 1.25rem;
            }

            &:disabled {
                background: gray !important;
                pointer-events: none;
                color: #fff;
                border-color: transparent;
            }

            border: 1px solid #333;
            border-radius: 0.5rem;
            padding: 0.72rem 1.8rem;
            font-size: 1.05rem;
            font-weight: 500;
            transition: all 0.15s ease-in-out;
            background: #fff;

            &:hover {
                border-color: transparent;
                background-color: #e44e4f;
                color: #fff;
            }

            &.filled {
                border-color: transparent;
                background-color: #e44e4f;
                color: #fff;

                &:hover {
                    color: #000;
                    filter: brightness(1.1);
                    background: none;
                    border-color: #333;
                }
            }
        }
    }

    .message-container {
        position: relative;
    }

    .message {
        font-size: 1.35rem;
        opacity: 0;

        &.show {
            opacity: 1;
        }

        &.success {
            color: #29926d;
        }

        &.failed {
            color: red;
        }
    }

    .data-logs {
        // font-size: 1.25rem;
        text-align: center;
        width: 90%;

        thead tr {
            border: 1px solid #d0d1d5;
        }

        tr {
            grid-template-columns: repeat(7, 1fr);
            border-radius: 1rem;
            margin-top: 1rem;
            display: grid;
            gap: 1rem;
            padding: 1rem;
            align-items: center;
        }

        .status {
            padding: 0.4rem 0.8rem;
            color: #fff;
            width: fit-content;
            justify-self: center;
            text-transform: capitalize;
        }

        .today {
            background-color: #512da9;
            color: #fff;
        }

        .good {
            background-color: #69edb6;
            color: #257056;
        }

        .bad {
            background-color: #ffb97b;
            color: #c65322;
        }

        .late {
            background-color: #feec4f;
            color: #93742a;
        }
    }
}
